ng-scrollbar {
  --scrollbar-size: 6px;
  --scrollbar-thumb-color: rgb(75, 75, 75);
  --scrollbar-thumb-hover-color: rgb(78, 78, 78);
  --scrollbar-border-radius: none;
  --scrollbar-container-color: rgb(0, 0, 0);
  --scrollbar-track-color: rgba(0, 0, 0, 0.205);
  --scrollbar-padding: 5px;

  direction: rtl;
}

.swiper {
  height: 400px;
  width: 600px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
}

.swiper-slide img {
  display: block;
  width: 10%;
}
