<div class="flex flex-col items-center justify-center">
    
    <!-- <div class="container" *ngFor="let design of designs">
        <img [src]="design.image" alt="">
    </div> -->
    <div class=" max-h-10">
        <!-- <swiper [config]="config">
            <div class="swiper-wrapper mt-10">
                <img
                class="swiper-slide "
                *ngFor="let design of designs"
                [src]="design.image"
                />
            </div>
        </swiper> -->
    </div>
</div>
